$blue: rgb(33, 158, 188);
$icon-blue: rgba(33, 158, 188, 0.5);
$bg-blue: rgba(33, 158, 188, 0.03);
$bg-transactions-blue: rgba(33, 158, 188, 0.05);
$white: rgb(255, 255, 255);
$granite: rgb(109, 109, 109);
$account-granite: rgba(109, 109, 109, 0.25)