$blue: rgb(33, 158, 188);
$icon-blue: rgba(33, 158, 188, 0.5);
$bg-blue: rgba(33, 158, 188, 0.03);
$bg-transactions-blue: rgba(33, 158, 188, 0.05);
$white: rgb(255, 255, 255);
$granite: rgb(109, 109, 109);
$granite-light: rgba(168, 168, 168, 0.25);
$light-blue: rgb(140, 222, 243);
$light-blue-darker: rgb(140, 222, 243)
