@use '../../Utilities/colors';

.add-transaction {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: colors.$white;
	z-index: 10000000;

	&__close-btn {
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
		padding: 1rem;
		background: none;
		border: none;
	}

	&__close-icon {
		color: colors.$granite;
		font-size: 3rem;
	}

	&__title {
		margin-top: 4rem;
		color: colors.$blue;
		margin-bottom: 1rem;
		font-size: 2rem;
	}

	&__input-box {
		position: relative;
		width: 90%;
		margin-top: 1.5rem;
	}

	&__label {
		position: absolute;
		top: 0;
		left: 2rem;
		transform: translateY(-60%);
		padding: 0rem 0.3rem 0;
		background-color: colors.$white;
		font-size: 1rem;
		color: colors.$granite;
		border-radius: 2rem;
	}

	&__input {
		width: 100%;
		height: 3.5rem;
		border-radius: 1.2rem;
		border: none;
		outline: 0.1rem solid colors.$granite;
		padding: 0 1rem 0;
		font-size: 1.3rem;

		&:focus {
			outline: 0.2rem solid colors.$blue;
			// box-shadow: 0px 0px 10px -4px colors.$blue;
		}
	}

	&__input-amount {
		padding: 0 2.8rem 0 1rem;
	}

	&__input-currency {
		font-size: 1.3rem;
		position: absolute;
		top: 1rem;
		bottom: 0;
		right: 1rem;
		color: colors.$granite;
	}

	&__btns-box {
		width: 90%;
		margin-top: 1.5rem;
		display: flex;
	}

	&__btns {
		width: 50%;
		height: 3.5rem;
		background: none;
	}

	&__cost-btn {
		border: 0.1rem solid colors.$red;
		color: colors.$red;
		border-top-left-radius: 1.2rem;
		border-bottom-left-radius: 1.2rem;
	}

	&__income-btn {
		border: 0.1rem solid colors.$green;
		color: colors.$green;
		border-top-right-radius: 1.2rem;
		border-bottom-right-radius: 1.2rem;
	}

	&__date-box {
		position: relative;
		width: 90%;
	}

	&__date-input {
		width: 100%;
		height: 3.5rem;
		margin-top: 1.5rem;
		border: 0.1rem solid colors.$granite;
		border-radius: 1.2rem;
		padding: 0 1rem 0;
		background: none;
		font-size: 1.3rem;
	}

	&__date-label {
		position: absolute;
		top: 0;
		left: 2rem;
		font-size: 1rem;
		transform: translateY(70%);
		padding: 0rem 0.3rem 0;
		background-color: colors.$white;
		color: colors.$granite;
	}

	&__list-btn {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 0.1rem solid colors.$granite;
		background: none;
		border-radius: 1.2rem;
		margin-top: 1.5rem;
		height: 3.5rem;
		width: 90%;
		padding: 1rem;
		font-size: 1.3rem;
	}

	&__list-btn-chevron {
		color: colors.$granite;
		font-size: 1rem;
	}

	&__list-btn-span {
		position: absolute;
		top: 0;
		left: 2rem;
		padding: 0rem 0.3rem 0;
		background-color: colors.$white;
		transform: translateY(-60%);
		font-size: 1rem;
		color: colors.$granite;
	}

	&__add-btn {
		border: none;
		background-color: colors.$blue;
		border-radius: 1.5rem;
		margin-top: 1.5rem;
		height: 5rem;
		color: colors.$white;
		width: 90%;
		font-size: 1.5rem;
		// transition: background-color 1s;

		&:active {
			background-color: rgb(36, 147, 175);
		}
	}
}
