@use '../Utilities/colors';

// TOP BAR
.top-bar-app {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 5rem;
	display: flex;
	align-items: center;
	background-color: colors.$white;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

	&__input-box {
		width: 100%;
		position: relative;
		margin-right: 6.5rem;
	}

	&__input {
		padding: 1rem 3rem 1rem 1rem;
		font-size: 1.2rem;
		height: 3rem;
		width: 100%;
		outline: 0.1rem solid colors.$granite-nav-icons;
		border: none;
		border-radius: 1rem;
		color: colors.$black;

		&:focus {
			outline: 0.1rem solid colors.$blue;
		}
	}

	&__input-icon {
		position: absolute;
		right: 1rem;
		top: 50%;
		transform: translateY(-50%);
		color: colors.$granite;
	}

	&__settings-menu-btn {
		position: relative;
		margin-right: 1rem;
		margin-left: 1rem;
		padding: 0.8rem;
		font-size: 2rem;
		background: none;
		border: none;
		color: colors.$black;
	}

	&__settings-btn {
		width: 100%;
		height: 50%;
		border: none;
		background: none;
	}

	&__settings-box {
		position: absolute;
		top: 3rem;
		width: 14rem;
		height: 11rem;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: colors.$white;
		border: 0.1rem solid colors.$granite-light;
		z-index: 10000;
		visibility: hidden;
	}

	&__settings-line {
		border: 0.1rem solid colors.$granite-light;
	}

	&__settings-text {
		font-size: 1.3rem;
	}

	&__settings-icon {
		font-size: 1.3rem;
		margin-right: 0.5rem;
		color: colors.$granite;
	}

	&__burger-btn {
		position: fixed;
		right: 0;
		top: 0.6rem;
		margin-left: 1rem;
		margin-right: 1rem;
		padding: 0.8rem;
		width: 4.5rem;
		height: 3.8rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: none;
		border: none;
		color: colors.$black;
		z-index: 10000;
	}

	&__burger-bar {
		width: 100%;
		border: 0.2rem solid colors.$blue;
		border-radius: 1rem;
		transition: transform 0.2s, opacity 0.2s;
	}

	&__burger-bar1 {
		transform-origin: top left;
	}

	&__burger-bar3 {
		transform-origin: bottom left;
	}
}

.settings-open {
	visibility: visible;
}

.filter-bar1-x {
	transform: rotate(41deg);
}

.filter-bar2-x {
	opacity: 0;
}

.filter-bar3-x {
	transform: rotate(-40deg);
}

// BOTTOM BUTTONS
.transaction-btns {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 7rem;
	display: flex;
	justify-content: space-evenly;

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.2rem 3rem 1rem;
		border: none;
		background: none;
		border-radius: 5rem;
		color: colors.$white;
	}

	&__plan-btn {
		background-color: colors.$orange;
	}

	&__add-btn {
		background-color: colors.$blue;
	}

	&__text-box {
		display: flex;
		flex-direction: column;
		margin-right: 1rem;
	}

	&__text {
		font-size: 1.1rem;
	}

	&__icon {
		font-size: 2rem;
	}
}

// FILTERS
.transactions-filters {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 21rem;
	overflow: hidden;

	&__container {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: colors.$white;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: scroll;
		transform: translateX(100%);
		transition: transform 0.2s, box-shadow 0.2s;
		z-index: 1000;
	}

	&__title {
		margin-top: 8rem;
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: none;
		border: none;
		border-block: 0.1rem solid colors.$blue;
		width: 100%;
		padding: 2.1rem 0 2.1rem;
		margin-top: 1.8rem;
		color: colors.$blue;
	}

	&__text-btn {
		font-size: 1.4rem;
		margin-left: 1rem;
	}

	&__arrow {
		margin-right: 1rem;
	}

	&__icon {
		margin-left: 0.5rem;
	}

	&__text-box {
		width: 100%;
	}

	&__text {
		font-size: 1.1rem;
		margin-top: 0.6rem;
		margin-left: 1.2rem;
	}

	&__category-date {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: colors.$white;
		transform: translateX(100%);
		transition: transform 0.2s;
		z-index: 1000000;
	}

	&__date-back-arrow-btn {
		position: absolute;
		top: 0;
		left: 0;
		padding: 1.2rem 2rem 2rem 2rem;
		background: none;
		border: none;
	}

	&__date-arrow {
		font-size: 2.5rem;
		color: colors.$orange;
	}

	&__date-btns {
		position: relative;
		font-size: 1.4rem;
		margin-top: 7rem;
		background: none;
		border: 0.1rem solid colors.$blue;
		padding: 2rem 1rem 2rem;
		width: 95%;
		border-radius: 1rem;
		display: flex;
		justify-content: space-between;
	}

	&__date-btns-arrow {
		color: colors.$blue;
		transition: transform 0.1s;
	}

	&__date-btns-label {
		font-size: 1.2rem;
		background-color: colors.$white;
		padding: 0 0.5rem 0;
		position: absolute;
		top: -0.8rem;
		left: 1.5rem;
		color: colors.$blue;
	}

	&__date-btns-lists {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: start;
		transform: translateY(100%);
		background-color: colors.$white;
		width: 100%;
		padding: 1rem;
		border: 0.1rem solid colors.$blue;
		border-radius: 1rem;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		display: none;
	}

	&__date-btns-list-el {
		padding: 2rem 0 2rem;
		list-style: none;
	}
}

.month-btn-border {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.chevron-rotated {
	transform: rotate(180deg);
}

.months-activated {
	display: flex;
}

.category-date-activated {
	transform: translateX(0);
}

.filters-activated {
	transform: translateX(0);
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

// TRANSACTIONS
.transactions {
	position: absolute;
	top: 6rem;
	left: 0;
	right: 0;
	margin: 0 1rem 0;
	z-index: -1;

	&__container {
		width: 100%;
	}

	&__date {
		margin-left: 1rem;
		font-size: 1.2rem;
		color: colors.$blue;
	}
	&__transaction {
		padding: 0.6rem;
		display: flex;
		align-items: center;
		min-height: 4.9rem;
		border-radius: 1.5rem;
		background-color: colors.$white;
		box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
		font-size: 1.4rem;
		margin-bottom: 1rem;
	}

	&__title-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-left: 6rem;
	}

	&__icon-bg {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 4.6rem;
		height: 3.7rem;
		border-radius: 1rem;
		background-color: colors.$blue-transacion-icon;
	}

	&__icon {
		font-size: 2rem;
		color: colors.$white;
	}

	&__title {
		overflow-wrap: anywhere;
	}

	&__price {
		margin-left: 1rem;
		padding: 1rem 0 1rem 1rem;
		border-left: 0.1rem solid colors.$blue;
	}

	&__price-ending {
		color: colors.$granite-nav-icons;
		font-size: 1.1rem;
		margin-left: 0.2rem;
	}
}

// BACKGROUND
.page-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: colors.$bg-transactions-blue;
	z-index: -2;
}

@media (min-width: 992px) {
	.top-bar-app {
		display: none;

		&__burger-btn {
			display: none;
		}
	}

	.transaction-btns {
		display: none;
	}
}
