@use '../../Utilities/colors';

.transactions-filters {
	position: fixed;
	top: 0;
	bottom: 0;
	right: -21rem;
	width: 21rem;

	&__container {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: colors.$white;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-y: scroll;
		transition: transform 0.2s, box-shadow 0.2s;
		z-index: 1000;
	}

	&__title {
		margin-top: 8rem;
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: none;
		border: none;
		border-block: 0.1rem solid colors.$blue;
		width: 100%;
		padding: 2.1rem 0 2.1rem;
		margin-top: 1.8rem;
		color: colors.$blue;
	}

	&__text-btn {
		font-size: 1.4rem;
		margin-left: 1rem;
	}

	&__arrow {
		margin-right: 1rem;
	}

	&__icon {
		margin-left: 0.5rem;
	}

	&__text-box {
		width: 100%;
	}

	&__text {
		font-size: 1.1rem;
		margin-top: 0.6rem;
		margin-left: 1.2rem;
	}

	&__category-date {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: colors.$white;
		transition: transform 0.2s;
		z-index: 1000000;
		overflow-y: scroll;
	}

	&__date-back-arrow-btn {
		position: absolute;
		top: 0;
		left: 0;
		padding: 1.2rem 2rem 2rem 2rem;
		background: none;
		border: none;
	}

	&__date-arrow {
		font-size: 2.5rem;
		color: colors.$orange;
	}

	&__date-btns {
		position: relative;
		font-size: 1.4rem;
		margin-top: 3rem;
		background: none;
		border: 0.1rem solid colors.$blue;
		padding: 2rem 1rem 2rem;
		width: 95%;
		border-radius: 1rem;
		display: flex;
		justify-content: space-between;

		&:nth-of-type(2) {
			margin-top: 7rem;
		}
	}

	&__date-btns-arrow {
		color: colors.$blue;
		transition: transform 0.1s;
	}

	&__date-btns-label {
		font-size: 1.2rem;
		background-color: colors.$white;
		padding: 0 0.5rem 0;
		position: absolute;
		top: -0.8rem;
		left: 1.5rem;
		color: colors.$blue;
	}

	&__date-btns-lists {
		flex-direction: column;
		background-color: colors.$white;
		width: 95%;
		border: 0.1rem solid colors.$blue;
		border-radius: 1rem;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		display: none;
		transition: height 0.3s;
		font-size: 1.4rem;
		z-index: 1000000;
		max-height: 34rem;
		overflow-y: scroll;
	}

	&__date-btns-list-el {
		padding: 2rem 1rem 2rem;
		list-style: none;

		&:hover {
			background-color: colors.$light-blue;
			color: colors.$blue;
		}

		&:last-child {
			border-bottom-left-radius: 1rem;
			border-bottom-right-radius: 1rem;
		}
	}
}

.month-btn-border {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.chevron-rotated {
	transform: rotate(180deg);
}

.list-activated {
	display: flex;
}

.category-date-activated {
	transform: translateX(-100%);
}

.filters-activated {
	transform: translateX(-100%);
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
