@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('./fonts/Roboto-Regular.ttf');
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto';
	font-size: 1.6rem;
	overflow: hidden;
}
