@use '../Utilities/colors';

.nav {
	position: sticky;
	top: 0;
	width: 100%;
	height: 8rem;
	background-color: colors.$white;
	box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
	display: none;

	&__list {
		font-size: 2rem;
		color: colors.$granite;
		width: 100%;
		height: 100%;
		display: flex;
		list-style: none;
		justify-content: center;
		align-items: center;
	}

	&__list-element {
		margin-left: 5rem;

		&:first-child {
			margin: 0;
		}
	}

	&__btn-box {
		position: absolute;
		display: flex;
		color: colors.$granite;
		font-size: 3rem;
		top: 0;
		right: 2.5rem;
		bottom: 0;
		align-items: center;
	}

	&__btn {
		position: relative;
		display: flex;
		align-items: center;
		border: 0.1rem solid colors.$granite-light;
		padding: 1rem;
		width: 100%;
		border-radius: 1.5rem;
		background: none;
		color: colors.$granite;
		font-size: 3rem;
		cursor: pointer;
		transition: color 0.1s, background-color 0.1s;
	}

	&__btn--border {
		border-radius: 1.5rem 1.5rem 0 0;
	}

	&__alert {
		margin-right: 5rem;
		border: 1.1rem solid colors.$granite-light;
	}

	&__settings {
		margin-left: 2rem;
	}

	&__name {
		font-size: 1.8rem;
	}

	&__menu-box {
		position: relative;
		font-size: 1.6rem;
		top: 100%;
		left: -0.1rem;
		right: -0.1rem;
		position: absolute;
		border: 0.1rem solid colors.$granite-light;
		border-radius: 0 0 1.5rem 1.5rem;
		overflow: hidden;
		z-index: 10;
	}

	&__menu-bg {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: colors.$white;
		z-index: -1;
	}

	&__menu-list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		list-style: none;
	}

	&__menu-element {
		padding: 2rem;

		&:hover {
			background-color: colors.$white;
			color: colors.$blue;
		}
	}

	&__menu-line {
		border: 0.1rem solid colors.$granite-light;
		width: 65%;
	}
}

// NAV MOBILE
.nav-mobile {
	position: fixed;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translateX(100%);
	transition: transform 0.3s, box-shadow 0.3s;

	&__menu-active-mobile {
		transform: translateX(0);
		box-shadow: -0.2rem 0 0.4rem rgba(0, 0, 0, 0.25);
	}

	&__menu-link {
		font-size: 1.6rem;
		text-decoration: none;
		margin-bottom: 1rem;
		color: colors.$granite;
		padding: 1.5rem 2.8rem 1.5rem;
		
		&:nth-child(5) {
			margin-bottom: 7rem;
		}

		&:hover {
			background-color: colors.$light-blue;
		}
	}

	&__menu-icon {
		font-size: 2rem;
		margin-right: 1.5rem;
	}

	&__transaction-icon {
		margin-right: 0.8rem;
	}

	&__menu-inactive-desktop {
		margin-right: 0;
	}

	&__menu-settings-box {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
	}

	&__menu-text-disabled {
		display: none;
	}
}

// BURGER MENU
.burger-btns {
	position: fixed;
	top: 1rem;
	font-size: 4rem;
	background: none;
	padding: 0.6rem 1.5rem 0.6rem;
	border: none;
	color: colors.$blue;
	z-index: 10000;
	cursor: pointer;
}

.burger-btn-mobile {
	right: 1rem;
}

.burger-btn-desktop {
	display: none;
	left: 1rem;
}

@media (max-width: 991px) {
	.nav-mobile {
		right: 0;
	}
}

@media (min-width: 992px) {
	.nav-mobile {
		transform: translateX(0);
		left: 0;
		box-shadow: 0.2rem 0 0.4rem rgba(0, 0, 0, 0.25);
	}

	.burger-btn-mobile {
		display: none;
	}

	.burger-btn-desktop {
		display: block;
	}
}
